.characterImg {
  max-width: 90%;
  max-height: 50%;
}

.allCharacterCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.characterCard {
  block-size: fit-content;
  text-align: center;
  border: 10px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.paginate {
  list-style: none;
  display: flex;
  margin-left: 40%;
  position: absolute;
  bottom: 10px;
  gap: 20px;
  cursor: pointer;
}

footer {
  background: #42a5f5;
  color: white;
  margin: 5px;
  /* line-height: -20px; */
  /* padding: 0 20px; */
}
.footer,
.push {
  position: sticky;
  height: 50px;
}

.searchBar {
  border-radius: 10px;
  width: 25%;
  height: 25px;
}

.searchBarBtn {
  font-size: 1rem;
  display: inline-block;
  background-color: #6a0c0b;
  border-radius: 8px;
  margin: 1px;
  padding: 4.5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  color: #fff;
}

.suggestion {
  cursor: pointer;
}
.suggestion:hover {
  background-color: gray;
}

.characterInfo {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.characterList {
  display: inline-block;
  padding: 5px;
  overflow-wrap: normal;
}
.list {
  list-style: none;
}
.sorry {
  display: flex;
  justify-content: center;
  gap: 15px;
}
