.researchOptions {
  display: flex;
  justify-content: center;
}

.searchBar {
  border-radius: 10px;
  width: 25%;
  height: 25px;
}

.searchBarBtn {
  font-size: 1rem;
  display: inline-block;
  background-color: #6a0c0b;
  border-radius: 8px;
  margin: 1px;
  padding: 4.5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  color: #fff;
}

.descriptionText {
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}
